<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="LoginTest" parallel="true">
    <classes>
      <class name="day53.LoginDataProvider"/>
      <class name="day53.DataProviderDemo"/>
      <class name="day53.LoginTestDifferentClass"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- Suite -->
